<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>


</head>
<body>
    <input type="text" id="search-input" placeholder="Enter search query">
    <button id="search-button">Search</button>

    <div id="search-results"></div>

</body>
</html>
